:root {
  --font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;

  color-scheme: light;
  --text-primary: #0f172a;
  --text-secondary: #64748b;
  --bg-primary: #f1f5f9;
  --bg-secondary: #ffffff;

  --accent-color: #4f46e5;
  /* Indigo */
  --accent-hover: #4338ca;
  --accent-gradient: linear-gradient(135deg, #ff6a00, #04a31c);

  --border-color: #e2e8f0;

  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-md: 0 10px 25px -5px rgb(0 0 0 / 0.05), 0 8px 10px -6px rgb(0 0 0 / 0.01);
  --shadow-lg: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 10px 10px -5px rgb(0 0 0 / 0.04);

  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);

  background: linear-gradient(180deg, #f8fafc 0%, #e2e8f0 100%);
  background-attachment: fixed;
  color: var(--text-primary);
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
}